<div class="default-block">
  <h2>Your Notes</h2>
  <%= link_to "New Note", new_project_note_path, class: "btn btn-primary" %>
  <div class="line-dark"></div>
    <div class="notes">
      <% if @notes.empty? %>
         <h4><%= "You don't have any notes yet. Why not start by writing a new one?" %></h4>
      <% else %>
        <% @notes.each do |note| %>
          <div class="note-block" id="note-<%=note.id.to_s%>">
            <h3><%= note.title %> <%= link_to "View", note_path(note), class: "btn btn-primary js-get-note"%></h3>
            <p class="note-content"></p>
            
          </div>
          <div class="line-light"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<script id="noteTemplate" type="text/x-handlebars-template">
  <div class="note-template-js" id="{{id}}">
    <p>Posted on {{createdAt}} by {{user}}</p>
    <p class="note-content">{{content}}</p>
    <div class="inline-button">
      <a href="/notes/{{id}}/edit" class="btn btn-sm btn-primary edit-note" id="{{id}}">Edit</a>
    </div>
    <div class="inline-button"> 
      <form class="button_to" method="post" action="/notes/{{id}}">
        <input type="hidden" name="_method" value="delete" />
        <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>   
    </div>
  </div>
</script>
