<div class="row">

  <div class="col-md-4">

    <div class="default-block">
      <h2><%= @task.name %></h2>
      <div class="line-dark"></div>
      <p> Created: <%= @task.friendly_created_at %> by <%= @task.owner.name %></p>
      <p> Due: <%= @task.due_date %> </p>
      <p> Status: <%= @task.status %></p>
      <p> Assigned to: <% @assigned_users.each do |user| %>
        <%= user.name %>,
          <% end %>
      </p>
      <p> Tags: <%@tags.each do |tag| %> 
          <%= tag.name %>,
          <% end %>
      </p>
      <p><%= @task.description %></p>
      <div class="inline-button">    
        <%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-sm btn-primary" %>
      </div>
      <div class="inline-button">
        <%= render partial: "tasks/task_complete_form", locals: {task: @task} unless @task.complete? %>
      </div>
      <div class="inline-button">
        <%= button_to "Delete Task", task_path(@task), method: :delete, class: "btn btn-sm btn-danger" %>
        </div>
    </div> <!-- default block end  -->

    <div class="default-block">
      <%= render partial: "messages/errors", locals: {resource: @comment} %>
      <h3>New Comment</h3>
      <div class="line-dark"></div>
      <%= render partial: "comments/new_form", locals: {comment: @comment} %>
    </div> <!-- default block end  -->

  </div> <!-- col-md-4 end -->

  <div class="col-md-8">
    <div class="default-block">
      <h3>Comments</h3>
      <div class="line-dark"></div>
      <div class="comments">
        <% @comments.each_with_index do |comment, index| %>
          <%= render partial: "comments/comment", locals: {comment: comment, index: index, col: ""} %>
        <%end %>
      </div>
    </div> <!-- default block end  -->
  </div> <!-- col-md-8 end -->

</div> <!-- Row end -->


<script id="commentTemplate" type="text/x-handlebars-template">
  <div class="comment-template-js" id="{{comment-id}}">
    <p> Posted: {{friendCreatedAt}} by <%= @comment.user.name %></p>
    <p>On <%= link_to @comment.task.name, task_path(@comment.task) %> in <%= link_to @comment.task.project.name, project_path(@comment.task.project) %></p>
    <p>{{content}}</p>
    <div class="inline-button">
      <a href="comments/{{id}}/edit" class="btn btn-sm btn-primary">Edit</a>
    </div>
    <div class="inline-button"> 
      <form class="btn btn-sm btn-danger" method="post" action="/comments/{{id}}">
        <input type="hidden" name="_method" value="delete" />
        <input class="btn btn-sm btn-danger" type="submit" value="Delete Task" />
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="sumbit" value="Delete">
      </form>   
    </div>
    <div class="line-light"></div>
  </div>
</script>


